%div#process
  .block
    .block_head
      .bheadl
      .bheadr
      %h2{:style => "color: orange"} Processing
      %span.ajax-loading

    / .block_head ends
    .block_content
      %form{:action => "", :method => "post"}
        %table{:cellpadding => "0", :cellspacing => "0", :width => "100%", :id => "users"}
          %tr
            %th Serial
            %th Job ID
            %th Folder
            %th Title
            %th Status
            %td &nbsp;
          - @processing.each do |content|
            = render :partial => 'history/processing_row', :locals => {:content => content }

    
    / .block_content ends
    .bendl
    .bendr